.news {
  // padding-top: 30px;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.news > h2 {
  border-bottom: 1px solid #eee;
  padding-bottom: 10px;
}

.stock-news-item-container {
  width: 100%;
  margin-bottom: 40px;
}

.stock-news-item {
  display: flex;
  justify-content: space-between;
  img {
    width: 35%;
    border-radius: 4px;
  }
  main {
    margin-left: 20px;
    display: flex;
    flex-direction: column;
    section {
      margin-bottom: 10px;
    }
  }
  h3 {
    margin: 0;
    color: black;
    // font-size: 30px;
    font-weight: 700;
    font-family: DIN Pro, -apple-system, BlinkMacSystemFont, sans-serif;
  }
  h4 {
    margin-bottom: 5px;
    color: black;
    font-size: 12px;
    font-weight: 600;
    font-family: DIN Pro, -apple-system, BlinkMacSystemFont, sans-serif;
  }
  p {
    margin: 0;
    color: black;
    font-family: DIN Pro, -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 14px;
  }
}

.stock-news-item:hover {
  background: #eee;
}
